:root {
  --primary-color: #17fbcd;
  --secondary-color: #fc0ffc;
  --tertiary-color: #15c83e;
}

body {
  margin-top: 0;
  text-align: center;
  background-image: url(./img/colorful.jpeg);
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

.body {
  width: 80%;
  margin: auto;
  background-color: black;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: white;
  background-color: transparent;
  padding: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-bottom: solid white 2px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 21.44px 5px 21.44px 173px;
}

.nav-item {
  margin-right: 1rem;
  text-decoration: none;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.about {
  width: 50%;
  margin: auto;
}

.icon {
  opacity: .5;
}

.icon:hover {
  opacity: 1;
}

.pic-link {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-direction: column;
  padding: 2rem;
}

.middle {
  width: 50%;
  margin: auto;
}

.greeting {
  font-size: 15px;
}

.bio {
  width: 80%;
  margin: auto;
}

.links {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}

.no-line {
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.no-line:hover {
  text-decoration: line-through;
}

.selfie {
  width: 50%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 5px white;
  opacity: 0.75;
}

.selfie:hover {
  opacity: 1;
}

.second-section {
  width: 90%;
  margin: auto;
}

.big-projects {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.p-bio {
  padding: 0 2rem 0 2rem;
}

.p-title {
  font-family: 'Titillium Web', sans-serif;
  border-bottom: groove 2px #d00da1;
  font-size: 25px;
  font-weight: bold;
}

.p-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-img {
  width: 50%;
  border: outset 3px white;
  border-radius: 20px;
  opacity: 0.5;
}

.p-img:hover {
  opacity: 1;
}

.small-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 5rem auto 5rem auto;
}

.s-project {
  width: 45%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.f-line {
  font-family: 'Titillium Web', sans-serif;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 2rem;
}

.f-line:hover {
  text-decoration: line-through;
}

.f-links {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  align-items: center;
}

#resume {
  padding: 1rem;
  border: solid 2px white;
  border-radius: 20px;
}

#resume:hover {
  box-shadow: 0px 0px 20px #fc0ffc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 2450px) {
  .greeting {
    font-size: 150px;
  }

  .farewell {
    font-size: 80px;
  }
}

@media screen and (max-width: 1830px) {
  .farewell {
    font-size: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    background-position: center;
  }

  .about {
    width: 100%;
    flex-direction: column;
  }

  .greeting {
    font-size: 80px;
  }

  .pic-link {
    width: 50%;
    margin: auto;
  }

  .bio {
    width: 50%;
    margin: auto;
  }

  .icon {
    font-size: 4rem;
  }

  .p-footer {
    flex-direction: column;
  }

  .s-footer {
    flex-direction: row;
  }
}

@media screen and (max-width: 1000px) {
  .p-title {
    font-size: 30px;
  }

  .no-line {
    font-size: 20px
  }


}

@media screen and (max-width: 900px) {
  .welcome {
    font-size: 150px;
    margin-bottom: 8rem;
  }

  .pic-link {
    width: 75%;
  }

  .bio {
    width: 75;
  }

  .project-main {
    flex-direction: column;
  }

  .p-img {
    width: 85%;
    margin: auto;
  }
  
  .big-projects {
    margin-top: 2rem;
  }

  .p-footer {
    flex-direction: row;
  }

  #TechThoughts {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .pic-link {
    width: 90%;
  }

  .bio {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .welcome {
    font-size: 100px;
    margin-bottom: 12rem;
  }

  .navbar {
    width: 50%;
    justify-content: space-between;
    padding-top: .5rem;
  }

  .big-projects {
    width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .pic-link {
    flex-direction: column;
  }

  .selfie {
    margin: auto;
  }

  .middle {
    width: 70%;
    margin: auto;
  }

  .links {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    width: 500px;
    margin: auto;
  }

  .navbar {
    margin: auto;
  }

  .first-section {
    width: 500px;
    margin: auto;
  }

  .second-section {
    width: 500px;
    margin: auto;
  }

  .nav-item {
    margin: auto;
  }

  .small-projects {
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
  }

  .s-project {
    width: 90%;
    margin: auto;
  }
}